@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 300;
  src: url('../fonts/BoosterNextFY/BoosterNextFY-Regular.otf')
    format('opentype');
}
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 600;
  src: url('../fonts/BoosterNextFY/BoosterNextFY-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 800;
  src: url('../fonts/BoosterNextFY/BoosterNextFY-Bold.otf') format('opentype');
}
