$mainColor: #5a0c9d;
$mainDarkColor: #24006d;
$mainLightColor: #8d42cf;

$txtColor: #3c4b62;

// font weights
$light: 400;
$normal: 500;
$bold: 600;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  max-width: 100%;
  font-family: 'BoosterNextFY', sans-serif;
  font-weight: $normal;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  font-size: 15px;
  color: $txtColor;
}

h1,
h2,
h3,
h4 {
  font-weight: $bold;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input[type='email'] {
  direction: ltr;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

*[class*='flex__'] {
  display: flex;
}
*[class*='__jc-center'] {
  justify-content: center;
}
*[class*='__jc-between'] {
  justify-content: space-between;
}
*[class*='__jc-end'] {
  justify-content: flex-end;
}
*[class*='__ai-center'] {
  align-items: center;
}
*[class*='__ai-start'] {
  align-items: flex-start;
}
*[class*='__fd-col'] {
  flex-direction: column;
}
*[class*='__fd-row'] {
  flex-direction: row;
}
