.wave-bg {
  position: absolute;
  z-index: -1;
  &.top-right-wave {
    top: 0;
    right: 0;
    width: 80%;
  }
  &.bottom-left-wave {
    bottom: 0;
    left: 0;
    width: 40%;
  }
}

.login-wrapper {
  background-color: rgba(white, 0.97);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06);
  display: flex;
  transition: all 0.5s ease-in-out;
  &.arabic {
    .cover {
      transform: translateX(-100%);
      direction: rtl;
    }
    .form-content {
      transform: translateX(100%);
      direction: rtl;
    }
    .form-group label {
      left: auto;
      right: 10px;
    }
  }
  .form-content,
  .cover {
    flex: 1;
    padding: 40px 60px;
    transition: transform 250ms cubic-bezier(0.07, 1.06, 0.45, 1.06);
  }
  .cover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .language-switcher-btn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgba(black, 0.05);
    box-shadow: 0 2px 1px rgba(black, 0.08);
    color: $mainColor;
    font-weight: $bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 40px;
  }
  .logo {
    width: 150px;
  }
  h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .banner-img img {
    width: 450px;
  }
  .form-group {
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    width: 100%;
    display: flex;
    padding: 5px;
    margin-bottom: 32px;
    transition: 120ms ease-out;
    &.active label,
    &.visited label {
      transform: translateY(-15px);
      height: auto;
      font-size: 16px;
    }
    &.visited label {
      color: #3c4b62;
    }
    &.active {
      border: 2px solid $mainColor;
      label {
        color: $mainColor;
      }
    }
    &.empty label {
      transform: translateY(0);
      color: #3c4b62;
      height: 100%;
      font-size: 18px;
    }
    .icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      padding: 6px;
      background-color: $mainColor;
      display: flex;
    }
    .form-field {
      position: relative;
      flex: 1;
      padding-left: 16px;
      padding-right: 24px;
    }
    label {
      position: absolute;
      top: 0;
      left: 10px;
      height: 100%;
      padding: 0 6px;
      font-size: 18px;
      color: #3c4b62;
      display: flex;
      align-items: center;
      background-color: #fff;
      transition: all 120ms ease-out;
    }
    input {
      width: 100%;
      height: 100%;
      font-size: 17px;
      direction: ltr;
    }
  }
  .forgot-password {
    text-decoration: underline;
    color: rgba($txtColor, 0.6);
  }
  .remember-me * {
    cursor: pointer;
  }
  .main-btn {
    margin: 40px 0 30px;
  }
  .alt-action {
    display: flex;
    a {
      color: $mainColor;
      text-decoration: underline;
      margin: 0 8px;
    }
  }
}
