@font-face {
  font-family: "BoosterNextFY";
  font-weight: 400;
  src: url("../fonts/BoosterNextFY/BoosterNextFY-Regular.otf") format("opentype");
}
@font-face {
  font-family: "BoosterNextFY";
  font-weight: 500;
  src: url("../fonts/BoosterNextFY/BoosterNextFY-Medium.otf") format("opentype");
}
@font-face {
  font-family: "BoosterNextFY";
  font-weight: 600;
  src: url("../fonts/BoosterNextFY/BoosterNextFY-Bold.otf") format("opentype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  max-width: 100%;
  font-family: "BoosterNextFY", sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  font-size: 15px;
  color: #3c4b62;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input[type=email] {
  direction: ltr;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

*[class*=flex__] {
  display: flex;
}

*[class*=__jc-center] {
  justify-content: center;
}

*[class*=__jc-between] {
  justify-content: space-between;
}

*[class*=__jc-end] {
  justify-content: flex-end;
}

*[class*=__ai-center] {
  align-items: center;
}

*[class*=__ai-start] {
  align-items: flex-start;
}

*[class*=__fd-col] {
  flex-direction: column;
}

*[class*=__fd-row] {
  flex-direction: row;
}

.wave-bg {
  position: absolute;
  z-index: -1;
}
.wave-bg.top-right-wave {
  top: 0;
  right: 0;
  width: 80%;
}
.wave-bg.bottom-left-wave {
  bottom: 0;
  left: 0;
  width: 40%;
}

.login-page {
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06);
  padding: 40px 50px;
}
.login-page .language-switcher-btn {
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid #f1f1f1;
  color: #5a0c9d;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}
.login-page .logo {
  width: 150px;
}
.login-page h1 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.login-page .banner-img img {
  width: 450px;
}
.login-page .form-group {
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  width: 400px;
  display: flex;
  padding: 5px;
  margin-bottom: 32px;
  transition: 120ms ease-out;
}
.login-page .form-group.active label, .login-page .form-group.visited label {
  transform: translateY(-15px);
  height: auto;
  font-size: 16px;
}
.login-page .form-group.visited label {
  color: #3c4b62;
}
.login-page .form-group.active {
  border: 2px solid #5a0c9d;
}
.login-page .form-group.active label {
  color: #5a0c9d;
}
.login-page .form-group.empty label {
  transform: translateY(0);
  color: #3c4b62;
  height: 100%;
  font-size: 18px;
}
.login-page .form-group .icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 6px;
  background-color: #5a0c9d;
  display: flex;
}
.login-page .form-group .form-field {
  position: relative;
  flex: 1;
  padding-left: 16px;
  padding-right: 24px;
}
.login-page .form-group label {
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  padding: 0 6px;
  font-size: 18px;
  color: #3c4b62;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: all 0.14s ease-out;
}
.login-page .form-group input {
  width: 100%;
  height: 100%;
  font-size: 17px;
}
.login-page .forgot-password {
  text-decoration: underline;
  color: rgba(60, 75, 98, 0.6);
}
.login-page .remember-me {
  cursor: pointer;
}
.login-page .main-btn {
  margin: 40px 0 30px;
}
.login-page .alt-action a {
  color: #5a0c9d;
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  user-select: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  margin: 10px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}
.btn.main-btn {
  background-color: #5a0c9d;
  color: #fff;
  border-radius: 50px;
  min-width: 160px;
  box-shadow: 0 1px 3px 2px rgba(90, 12, 157, 0.1);
}

/*# sourceMappingURL=styles.css.map */
